.home {
    height: 100vh;
}

.about-main {
    height: 80vh;
    width: 100vw;

    .texts {
        position: absolute;
        top: 36vh;
        left: 8vw; // @include flex-centre();
        height: 50vh;
        width: 40vw;
        max-width: 42vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h1 {
            font-size: 5rem;

            z-index: -2;
            //     
        }

        p {
            position: relative;
            padding-top: 12px;
            //     // left: 8vw;
            font-size: 2rem;
            z-index: -2;
            padding-right: 30px;
            //     max-width: 40vw; 
            // }
        }

        .button-div {
            display: flex;
            flex-direction: row;
            position: relative;
            top: 5vh;
            // background-color: rgb(234, 110, 98)

            span {
                border: 2px solid black;
                padding: 10px;
                font-size: 2rem;
                background-color: rgb(201, 69, 40);
                color: rgb(255, 255, 255);
                 }

            .book-now {
                position: relative;
                left: 2.5vw;
                      }


        }
        }

    .img-home {
        @include flex-centre();
        position: relative;
        max-width: 38vw;
        max-height: 45vh;
        top: 28vh;
        left: 53vw;
        z-index: -1;

            }

}